@charset 'utf-8';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

/*RESET*/
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video{margin:0;padding:0;border:0;outline:0;vertical-align:baseline;background:transparent;box-sizing: border-box;}
html{-webkit-text-size-adjuwt:antialiased;-moz-osx-font-smoothing:grayscale;font-size:62.5%;min-width: 320px}
body{line-height:1;font-family: 'Montserrat','NanumSquare', sans-serif;color: #333}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section{display:block;}
ul{list-style:none;}
blockquote, q{quotes:none;}
blockquote:before, blockquote:after, q:before, q:after{content:'';content:none;}
a{margin:0;padding:0;vertical-align:baseline;text-decoration:none;color:inherit;font-size:100%;background:transparent;}
abbr[title], dfn[title]{border-bottom:1px dotted;cursor:help;}
table{border-spacing:0;border-collapse:collapse;}

/*layout*/
.wrapper{position: relative;min-width: 320px}

/*header*/
header{position: fixed;top: 0;left: 0;z-index: 10;width: 100%;background-color: #fff;height: 100px;border-bottom: 1px solid rgba(0,0,0,0.1);min-width: 320px}
.header__inner{max-width: 1200px;margin: 0 auto;position: relative;padding: 37px 0}
.header__logo{position: relative;z-index: 20;display: inline-block;}
.header__logo a{display: block;}
.header__logo img{display: block;height: 24px;}

.mobile-topmenu{position: absolute;top: 0;left: 0;width: 100%;height: 56px;display: none;text-align: left}
.mobile-topmenu__drawer-opener{display: inline-block;width: 56px;height: 56px;border: 0;text-indent: -9999px;overflow: hidden;text-align: left;background: url(../images/mobile_topmenu_drawer_opener.png) 0 0 no-repeat;background-size: 56px 56px;z-index:21;position: relative;}
.mobile-topmenu__drawer-opener:active{background-color: #F2F4F5;}
.mobile-topmenu__call{display: inline-block;width: 56px;height: 56px;border: 0;text-indent: -9999px;overflow: hidden;text-align: left;background: url(../images/mobile_topmenu_call.png) 0 0 no-repeat;background-size: 56px 56px;z-index:21;position: absolute;top: 0;right: 0;}
.mobile-topmenu__call:active{background-color: #F2F4F5;}

.pc-topmenu{border: 2px solid #2EA3E1;border-radius: 34px;display: inline-block;position: absolute;top: 0;right: 0;top: 28px}
.pc-topmenu__call{padding: 0 10px 0 0;color: #2EA3E1;}
.pc-topmenu__call p{position: relative;display: inline-block;font-size: 1.5rem;line-height: 36px;margin-right: 8px;font-weight: 600;vertical-align: middle;}
.pc-topmenu__call p:before{content: '';display: inline-block;width: 30px;height: 36px;background: url(../images/mobile_topmenu_call.png) 0 0 no-repeat;background-size:36px 36px;vertical-align: middle;}
.pc-topmenu__call b{display: inline-block;font-weight: 700;line-height: 36px;font-size: 1.8rem;vertical-align: middle;}

.mobile-drawer{position: fixed;top: 56px;left: 0;background-color: rgba(255,255,255,0.98);width: 0;z-index: 10;height: 0;transition: opacity .2s ease;overflow: hidden;display: inline-block;opacity: 0;}
.mobile-drawer__inner{display: table-cell;text-align: center;vertical-align: middle;width: 100%;}
.mobile-drawer__depth1{text-align: left;display: inline-block;width: 80%;padding-bottom: 20%;}
.mobile-drawer__depth1 li > a{display: block;line-height: 50px;font-size: 1.8rem;border-bottom: 1px solid #dadada;}


footer{background-color: #2EA3E1;}


@keyframes jumping_tooltip{
	0%{top: -15px;}
	49.9%{top: -12px;}
	100%{top: -15px;}
}

@keyframes slide_top {
  0% {transform: translateY(20px);opacity: 0;}
  100%{transform: translateY(0px);opacity: 1;}
}

.header__gnb{position: absolute;top: 0;left: 290px;}
.header__gnb__depth1{padding: 30px 0}
.header__gnb__depth1 li{display: inline-block;margin-right: 65px;position: relative;}
.header__gnb__depth1 a{display: block;font-size: 1.8rem;font-weight: 600;line-height: 40px;padding: 0 8px;transition: all .2s ease}
.header__gnb__tooltip:before{content: '';position: absolute;top:-12px;left: 50%;background: url(../images/gnb_tooltip.png) 0 0 no-repeat;display: inline-block;width: 47px;height: 21px;background-size: 47px 21px;margin-left: -24px;animation: jumping_tooltip 1s ease infinite;z-index: 10;}

.mobile-main-banner__img{display: none;}
.pc-main-banner__img{display: block;}


/*only pc*/
@media (min-width: 1201px){
	.header__gnb__depth1 li:hover a{background-color: #f5f5f5;}
}

/*tablet*/
@media (max-width: 1200px){
	.header__logo{padding-left: 16px;}
	.pc-topmenu{right: 16px;}
	.header__gnb{left: 245px;}
	.header__gnb__depth1 li{margin-right: 5vw;}
}

@media (max-width: 1000px){
	.pc-topmenu{display: none;}
}

/*mobile*/
@media (max-width: 768px){
	html{font-size: 50%;}
	header{border-bottom: 0;height: auto;}
	.header__inner{text-align: center;padding: 0;}
	.header__logo{padding-left: 0;display: block;text-align: center;height: 56px;overflow: hidden;}
	.header__logo a{padding: 18px;display: inline-block;}
	.header__logo img{height: 20px;}
	.mobile-topmenu{display: block;}
	.header__gnb{background-color: #2EA3E1;position: relative;left: 0;}
	.header__gnb__depth1{padding: 0;}
	.header__gnb__depth1 li a:active{background-color: #0D88CA;}
	.header__gnb__depth1:after{content: '';display: block;clear: both}
	.header__gnb__depth1 li{position: relative;width: 25%;margin: 0;float: left;}
	.header__gnb__depth1 a{text-align: center;transform : rotate(0.03deg);color: #fff;line-height: 35px;}
	.drawer-open .mobile-drawer{width: 100%;height: 100%;display: table;opacity: 1;}
	.drawer-open .header__gnb__tooltip:before{display: none;}
	.drawer-open .mobile-drawer__depth1{animation: slide_top 1s ease both;}

	.mobile-main-banner__img{display: block;}
	.pc-main-banner__img{display: none;}
}