@charset 'utf-8';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

/*RESET*/
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video{margin:0;padding:0;border:0;outline:0;vertical-align:baseline;background:transparent;box-sizing: border-box;}
html{-webkit-text-size-adjuwt:antialiased;-moz-osx-font-smoothing:grayscale;font-size:62.5%;min-width: 320px}
body{line-height:1;font-family: 'Montserrat','NanumSquare', sans-serif;color: #333}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section{display:block;}
ul{list-style:none;}
blockquote, q{quotes:none;}
blockquote:before, blockquote:after, q:before, q:after{content:'';content:none;}
a{margin:0;padding:0;vertical-align:baseline;text-decoration:none;color:inherit;font-size:100%;background:transparent;}
abbr[title], dfn[title]{border-bottom:1px dotted;cursor:help;}
table{border-spacing:0;border-collapse:collapse;}

/*layout*/
.wrapper{position: relative;min-width: 320px}

/*header*/
header{position:fixed;top:0;left:0;z-index:10;width:100%;min-width:320px;;height:100px;border-bottom:1px solid rgba(0,0,0,.1);background-color:#fff;}
.header__inner{position:relative;max-width:1200px;margin:0 auto;padding:37px 0;}
.header__logo{display:inline-block;position:relative;z-index:20;}
.header__logo a{display:block;}
.header__logo img{display:block;height:24px;}

.mobile-topmenu{display:none;position:absolute;top:0;left:0;width:100%;height:56px;text-align:left;}
.mobile-topmenu__drawer-opener{display:inline-block;overflow:hidden;position:relative;z-index:21;width:56px;height:56px;border:0;text-align:left;text-indent:-9999px;background:url(../images/mobile_topmenu_drawer_opener.png) 0 0 no-repeat;background-size:56px 56px;}

.drawer-open .mobile-topmenu__drawer-opener{background:url(../images/mobile_topmenu_drawer_close.png) 0 0 no-repeat #F2F4F5;background-size:56px 56px;}

.mobile-topmenu__drawer-opener:active{background-color:#f2f4f5;}
.mobile-topmenu__call{display:inline-block;overflow:hidden;position:absolute;top:0;right:0;z-index:21;width:56px;height:56px;border:0;text-align:left;text-indent:-9999px;background:url(../images/mobile_topmenu_call.png) 0 0 no-repeat;background-size:56px 56px;}
.mobile-topmenu__call:active{background-color:#f2f4f5;}

.pc-topmenu{display:inline-block;position:absolute;top:0;top:28px;;right:0;border:2px solid #2ea3e1;border-radius:34px;}
.pc-topmenu__call{padding:0 10px 0 0;color:#2ea3e1;}
.pc-topmenu__call p{display:inline-block;position:relative;margin-right:8px;vertical-align:middle;font-size:1.5rem;font-weight:600;line-height:36px;}
.pc-topmenu__call p:before{display:inline-block;width:30px;height:36px;content:'';vertical-align:middle;background:url(../images/mobile_topmenu_call.png) 0 0 no-repeat;background-size:36px 36px;}
.pc-topmenu__call b{display:inline-block;vertical-align:middle;font-size:1.8rem;font-weight:700;line-height:36px;}

.mobile-drawer{display:inline-block;opacity:0;overflow:hidden;position:fixed;top:56px;left:0;z-index:10;width:0;height:0;transition:opacity .2s ease;background-color:rgba(255,255,255,.98);}
.mobile-drawer__inner{display:table-cell;width:100%;text-align:center;vertical-align:top;}
.mobile-drawer__depth1{padding-top: 10%;display:inline-block;width:80%;text-align:left;}
.mobile-drawer__depth1 > li{border-top: 1px solid rgb(218, 218, 218);}
.mobile-drawer__depth1 > li:first-child a{color: #999;}
.mobile-drawer__depth1 > li:first-child{border-top: 0;}
.mobile-drawer__depth1 > li > a {display: block;font-size: 1.8rem;line-height: 50px;font-weight: 600;transform: rotate(0.03deg);}
.mobile-drawer__depth2{margin-bottom: 16px;}
.mobile-drawer__depth2:after{content: '';display: block;clear: both;}
.mobile-drawer__depth2 li{display: inline-block;width: 31%;float: left;margin-left: 3.5%;}
.mobile-drawer__depth2 li:first-child{margin-left: 0;}
.mobile-drawer__depth2 li a{display: block;background-color: #F2F4F5;line-height: 40px;text-align: center;font-size: 1.8rem;font-weight: 600;transform: rotate(0.03deg);}
li.mobile-drawer__call{margin-top: 30px;border-top: 0;}
.mobile-drawer__call a{background-color: #2EA3E1;color: #fff;padding: 0 16px;}
.mobile-drawer__call span{font-size: 2rem;font-weight: 600;margin-left: 20px;line-height: 50px;display: inline-block;letter-spacing: 1px;}





footer{background-color:#2ea3e1;}
.footer__inner{position:relative;max-width:1200px;margin:0 auto;padding:37px 0;}
.footer__logo{display: inline-block;vertical-align: middle;margin-right: 30px;}
.footer__logo a{}
.footer__logo img{height: 24px;}
.footer__call{border: 2px solid #fff;padding: 0 10px;display: inline-block;vertical-align: middle;}
.footer__call p{display: inline-block;color: #fff;line-height: 28px;font-size: 1.4rem;transform: rotate(0.03deg);font-weight: 600;vertical-align: top;}
.footer__call b{display: inline-block;color: #fff;margin-left: 20px;line-height: 30px;transform: rotate(0.03deg);font-weight: 600;font-size: 1.6rem;letter-spacing: 1px;}
.footer__copyright{color: #fff;font-size: 1.4rem;transform: rotate(0.03deg);line-height: 30px;float: right;}



@keyframes jumping_tooltip{
	0%{top: -15px;}
	49.9%{top: -12px;}
	100%{top: -15px;}
}

@keyframes slide_top {
  0% {transform: translateY(20px);opacity: 0;}
  100%{transform: translateY(0px);opacity: 1;}
}

.header__gnb{position:absolute;top:0;left:290px;}
.header__gnb__depth1{padding:30px 0;}
.header__gnb__depth1 li{display:inline-block;position:relative;margin-right:65px;}
.header__gnb__depth1 a{display:block;padding:0 8px;transition:all .2s ease;;font-size:1.8rem;font-weight:600;line-height:40px;}
.header__gnb__tooltip:before{display:inline-block;position:absolute;top:-12px;left:50%;z-index:10;width:47px;height:21px;margin-left:-24px;content:'';animation:jumping_tooltip 1s ease infinite;background:url(../images/gnb_tooltip.png) 0 0 no-repeat;background-size:47px 21px;}


.visual{overflow:hidden;position:relative;	width:100%;height:400px;}
.visual li a{display:block;overflow:hidden;position:relative;height:400px;background-color:#fff;}

.visual__control{position: relative;bottom: 0;left: 0;max-width: 1200px;margin: 0 auto;}
.visual__control__arrow{position:absolute;	top:-230px;z-index: 1;	width: 100%;height: 0;	}
.visual__control__arrow--prev{display:inline-block;opacity:.8;position:relative;width:40px;height:60px;background:url(../images/arrow_prev.png) center no-repeat;background-size:24px 24px;}
.visual__control__arrow--prev a{display:block;width:100%;height:100%;transition: all .2s ease;}
.visual__control__arrow--prev a:active{background-color:rgba(0,0,0,0.05);}
.visual__control__arrow--next{display:inline-block;opacity:.8;position:relative;width:40px;height:60px;background:url(../images/arrow_next.png) center no-repeat;background-size:24px 24px;position: absolute;top: 0;right: 0;}
.visual__control__arrow--next a{display:block;width:100%;height:100%;}
.visual__control__arrow--next a:active{background-color:rgba(0,0,0,0.05);}

.visual__control__pager{top: -45px;position: relative;text-align: center;}
.visual__control__pager .bx-pager-item{display: inline-block;margin: 0 4px;}
.visual__control__pager a{width: 40px;height: 40px;display: inline-block;text-indent: -999px;text-align: left;overflow: hidden;position: relative;}
.visual__control__pager a:before{border-top: 4px solid #333;content: '';top: 16px;left: 0;width: 40px;display: inline-block;height: 0;position: absolute;transition: all .2s ease;opacity: 0.2;}
.visual__control__pager a:hover:before{opacity: 0.8;}
.visual__control__pager a.active:before{opacity: 1;}

.pc-visual__slider--item{display:block;position:absolute;top:0;left:50%;margin-left:-960px;}
.mobile-visual__slider--item{display:none;}

.mobile-main-banner__img{display:none;}
.pc-main-banner__img{display:block;}

.main-banner{position: relative;margin: 0 auto;max-width: 1200px;}
.main-banner li{float: left;display: inline-block;width: 400px}
.main-banner:after{display: block;content: '';clear: both;}
.main-banner li a{display: block;}
.main-banner li img{width: 100%;transition: all .2s ease;}
.main-banner li a:hover img{opacity: 0.9;}





.main-recommend-product{position: relative;max-width: 1200px;margin: 0 auto;}
.main-recommend-product__title{text-align: center;font-size: 2.4rem;font-weight: 600;line-height: 1.4;margin-bottom: 0}


.product-list--global{position: relative;}
.product-list--global li{float: left;display: inline-block;width: 22.9%;margin-left: 2.8%;vertical-align: top;margin-bottom: 40px;}
.product-list--global li:nth-child(4n-3){margin-left: 0;clear: both;}
.product-list--global a{display: block;position: relative;}
.product-list--global:after{display: block;content: '';clear: both;}
.product-list__thumbnail-wrap{position: relative;display: block;width: 100%;height: 0;padding-bottom: 100%;background-color: #F7F7F7;overflow: hidden;transition: all .2s ease;}

.product-list__sticker-wrap--top{position: absolute;top: 0;left: 0;width: 36%;font-size: 0;z-index: 1;}
.product-list__sticker-wrap--top .sticker-item{width: 100%;}


.product-list__sticker-wrap--bottom{position: absolute;right: 6%;bottom: 6%;width: 20%;font-size: 0;z-index: 1;}
.product-list__sticker-wrap--bottom .sticker-item{margin-top: 4px;width: 100%;}


.product-list__thumbnail{width: 86%;height: 86%;position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);transition: all .5s ease;}
.product-list--global li:hover .product-list__thumbnail{width: 100%;height: 100%;}
.product-list--global li:hover .product-list__thumbnail-wrap{background-color: #ecedf1;}











.product-list__info{display: block;position: relative;padding:10px 0 20px 0;transform: rotate(0.03deg);}
.product-list__info--description{display: block;color: #0085cb;font-size: 1.3rem;line-height: 24px;text-align: left;padding-bottom: 3px;font-weight: 600;letter-spacing: -0.5px;height: 24px;text-overflow: ellipsis;white-space: nowrap;overflow: hidden;}
.product-list__info--title{display: block;font-size: 1.8rem;font-weight: 700;line-height: 1.4;letter-spacing: -0.5px;}
.product-list__price{display: block;position: relative;text-align: right;transform: rotate(0.03deg);letter-spacing: -0.5px;}
.product-list__price--original{display: block;line-height: 1.6;font-size: 1.4rem;position: relative;transform: rotate(0.03deg);font-weight: 600;}
.product-list__price--original .value{text-decoration: line-through;}
.product-list__price--promotion{display: block;line-height: 1.3;font-size: 1.5rem;font-weight: 600;}
.product-list__price--promotion .value{font-weight: 700;font-size: 1.9rem;}
.product-list__price--card{display: block;line-height: 1.3;font-size: 1.5rem;font-weight: 600;}
.product-list__price--card .value{font-weight: 700;font-size: 1.9rem;}





.sub-top{}
.sub-top__inner{}
.sub-top__title{}
.sub-top__description{}
.sub-top__tab{margin: 0 auto;max-width: 600px;border-radius: 30px;}
.sub-top__tab:after{content: '';display: block;clear: both;}
.sub-top__tab li{display: inline-block;float: left;}
.sub-top__tab li.on a{background-color: #eee;}
.sub-top__tab li a{display: block;line-height: 50px;}
.sub-top__tab--03 li{width: 33.33%;}
.sub-top__tab--03 li:nth-child(2){width: 33.34%;}




/*only pc*/
@media (min-width: 1201px){
	.header__gnb__depth1 li:hover a{background-color: #f5f5f5;}

}
@media (min-width: 1231px){
.main-best-product{position: relative;max-width: 1200px;margin: 0 auto;padding: 70px 0 40px 0;text-align: center;}
.main-best-product:after{display: block;content: '';clear: both;}
.main-best-product ul{height: 260px;overflow: hidden;display: inline-block;padding:30px 24px;max-width: 1200px;overflow-x: hidden;}
.main-best-product__title{text-align: center;font-size: 2.4rem;font-weight: 600;line-height: 1.4;margin-bottom: 0}

.main-best-product__info{transition: all .3s ease;position: relative;left: 0;opacity: 0;margin-bottom: 16px;display: block;}
.main-best-product__info span{opacity: 0;transition: opacity .5s ease;}
.main-best-product__info--description{color: #0085cb;font-size: 1.2rem;line-height: 1.3;display: block;text-align: left;opacity: 0;padding-bottom: 5px;}
.main-best-product__item--02 .main-best-product__info--description{color: #345EB1;}
.main-best-product__info--title{font-weight: 800;font-size: 1.8rem;color: #333;display: block;text-align: left;opacity: 0;}
.main-best-product__price{text-align: right;position: relative;transform: rotate(0.02deg);}
.main-best-product__price span{opacity: 0;transition: all .5s ease}
.main-best-product__price--original{text-decoration: line-through;font-size: 1.4rem;display: block;line-height: 1.4;}
.main-best-product__price--promotion{font-size: 1.4rem;display: block;line-height: 1;}
.main-best-product__price--promotion .value{font-weight: 700;font-size: 1.8em;letter-spacing: -0.5px;}
.main-best-product__price--card{font-size: 1.4rem;display: block;line-height: 1;}
.main-best-product__price--card .value{font-weight: 700;font-size: 1.8em;letter-spacing: -0.5px;}
.main-best-product__item{position: relative;display: inline-block;float: left;margin-left:24px}
.main-best-product__item:first-child{margin-left: 0;}
.main-best-product__item--01{background-color: #c1c7d5;border-radius: 16px;padding: 20px;width: 282px;transition: all .8s ease;}
.main-best-product__item--02{background-color: #869FD0;border-radius: 16px;padding: 20px;width: 282px;transition: all .8s ease;}
.main-best-product__item--03{background-color: #8AC9F8;border-radius: 16px;padding: 20px;width: 282px;transition: all .8s ease;}
.main-best-product__thumbnail{position: absolute;width: 230px;height: 230px;display: inline-block;position: absolute;bottom: -60px;left: 70px;pointer-events: none;transition: all .7s ease;}
.main-best-product__thumbnail img{width: 100%;user-select: none;}
.main-best-product__cover{position: absolute;top: 32px;left: 30px;text-align: center;transition: all .3 ease;}
.main-best-product__cover p{color: #fff;font-size: 1.6rem;line-height: 1.2;margin-bottom: 8px;transition: all .3s ease;text-shadow: 1px 2px 3px rgb(0 0 0 / 12%);}
.main-best-product__cover b{color: #fff;font-size: 2.4rem;line-height: 1;transition: all .3s ease;text-shadow: 1px 2px 3px rgb(0 0 0 / 12%);}
	.main-best-product__item.on{width: 500px;}
	.main-best-product__item.on .main-best-product__price span{opacity: 1;}
	.main-best-product__item.on .main-best-product__info span{opacity: 1;}
	.main-best-product__item.on .main-best-product__thumbnail{width: 300px;height: 300px;bottom: -80px;left: -40px;}
	.main-best-product__item.on .main-best-product__cover p{opacity: 0;}
	.main-best-product__item.on .main-best-product__cover b{opacity: 0;}
	.main-best-product__item.on .main-best-product__info{left: 40%;opacity: 1;}
}

@media (max-width: 1230px){
		/*.main-best-product{display: none;}*/
		/*.mobile-main-best-product{display: block;}*/




		.main-banner li{width:33.33%}
		.main-banner li:nth-child(2){width:33.34%}

		.main-best-product__cover-box{display: none;}
		.main-best-product__cover-box{}
		.main-best-product__box{background-color: blue;}


.main-best-product .product-list__thumbnail-wrap{display: inline-block;width: 48%;float: left;padding-bottom: 48%;}
.main-best-product__box{display: inline-block;width: 48%;float: left;}
.main-best-product ul:after{display: block;content: '';clear: both;}
.main-best-product li{display: none;}
.main-best-product li.on{display: block;}

.main-best-product__info{display: block;position: relative;padding:10px 0 20px 0;transform: rotate(0.03deg);}
.main-best-product__info--description{display: block;color: #0085cb;font-size: 1.3rem;line-height: 24px;text-align: left;padding-bottom: 3px;font-weight: 600;letter-spacing: -0.5px;height: 24px;text-overflow: ellipsis;white-space: nowrap;overflow: hidden;}
.main-best-product__info--title{display: block;font-size: 1.8rem;font-weight: 700;line-height: 1.4;letter-spacing: -0.5px;}
.main-best-product__price{display: block;position: relative;text-align: right;transform: rotate(0.03deg);letter-spacing: -0.5px;}
.main-best-product__price--original{display: block;line-height: 1.6;font-size: 1.4rem;position: relative;transform: rotate(0.03deg);font-weight: 600;}
.main-best-product__price--original .value{text-decoration: line-through;}
.main-best-product__price--promotion{display: block;line-height: 1.3;font-size: 1.5rem;font-weight: 600;}
.main-best-product__price--promotion .value{font-weight: 700;font-size: 1.9rem;}
.main-best-product__price--card{display: block;line-height: 1.3;font-size: 1.5rem;font-weight: 600;}
.main-best-product__price--card .value{font-weight: 700;font-size: 1.9rem;}

}







/*tablet*/
@media (max-width: 1200px){
	.header__logo{padding-left: 16px;}
	.pc-topmenu{right: 16px;}
	.header__gnb{left: 245px;}
	.header__gnb__depth1 li{margin-right: 5vw;}

	.main-recommend-product{padding: 0 16px;}
	.product-list--global li{width: 48.5%;margin-left: 3%;margin-bottom: 30px;}
	.product-list--global li:nth-child(4n-3){margin-left: 3%;clear: none}
	.product-list--global li:nth-child(2n-1){margin-left: 0;clear: both}

	.footer__inner{padding: 37px 16px;}

}

@media (max-width: 1000px){
	.pc-topmenu{display: none;}
}

/*mobile*/
@media (max-width: 768px){
	html{font-size:50%;}
	header{height:auto;border-bottom:0;}
	.header__inner{padding:0;text-align:center;}
	.header__logo{display:block;overflow:hidden;height:56px;padding-left:0;text-align:center;}
	.header__logo a{display:inline-block;padding:18px;}
	.header__logo img{height:20px;}
	.mobile-topmenu{display:block;}
	.header__gnb{position:relative;left:0;background-color:#2ea3e1;}
	.header__gnb__depth1{padding:0;}
	.header__gnb__depth1 li a:active{background-color:#0d88ca;}
	.header__gnb__depth1:after{display:block;clear:both;;content:'';}
	.header__gnb__depth1 li{float:left;position:relative;width:25%;margin:0;}
	.header__gnb__depth1 a{transform:rotate(.03deg);text-align:center;color:#fff;line-height:35px;}
	.drawer-open .mobile-drawer{display:table;opacity:1;width:100%;height:100%;}
	.drawer-open .header__gnb__tooltip:before{display:none;}
	.drawer-open .mobile-drawer__depth1{animation:slide_top 1s ease both;}

	.pc-visual__slider--item{display:none;}
	.mobile-visual__slider--item{display:block;max-width:100%;}


	.visual{height: auto;}
	.visual li a{height: auto}


	.visual__control__arrow{display: none;}
	.mobile-main-banner__img{display:block;}
	.pc-main-banner__img{display:none;}

	.main-banner li{width: auto;display: block;float: none;}
	.main-banner li:nth-child(2){width: auto}
}